@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300&family=Poppins:wght@100;200;300;400&display=swap');

*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: grid;
    place-items: center;
}

h2 {
    font-family: "Nunito", sans-serif;
    font-size: calc(1.5em + 1vw);
}

.form--field form p {
    font-family: "Poppins", sans-serif;
    font-size: calc(0.47em + 0.63vw);
}

input[type="radio"] {
    transform: scale(1.3);
}

label {
    font-weight: 200;
    font-family: "Nunito", sans-serif;
}

.score, .score-note {
    font-size: calc(0.9em + 1.2vw);
}